:root {
  --color-containerBackrground: #05050594;
  --color-bodyBackground: #2e2e2e67;
}

.modal_body {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-bodyBackground);
  justify-content: center;
  z-index: 3;
}

.modal__crop_container {
  border: 3px solid var(--color-modalBackrground);
  background-color: var(--color-modalBackrground);
  border-radius: 2rem;
  height: 70%;
  width: 60%;
  z-index: 3;
  top: 50%;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}

.modal__onCrop_btn {
  border: 3px solid whitesmoke;
  border-radius: 1rem;
  color: white;
  background-color: rgba(20, 20, 20, 1);
  padding: 1rem 3rem;
  position: absolute;
  bottom: 5%;
  z-index: 4;
}
