.input {
  width: 25rem;
  height: 2rem;
  border: 0.1rem solid rgb(0, 0, 0);
}

.dropDownBox {
  /* display: block; */
  margin: 0 auto;
  /* padding: 1rem 0; */
  background-color: white;
  /* border: 0.1rem solid rgb(0, 0, 0); */
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  list-style-type: none;
  z-index: 1rem;
}

.dropDownItem {
  border: 0.05rem solid var(--color-black);
  padding: 0.5rem;
  width: 25rem;
  height: 3rem;
  display: flex;
  align-items: center;
  margin: 0.1rem;
  position: relative;
}
.dropDownItem:hover {
  background-color: #f0f0f0; /* 호버 시 배경색을 회색(#f0f0f0)으로 변경 */
}

.profileimage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.nickname {
  font-weight: bold;
  font-size: 1rem;
}
.hashtag {
  font-weight: bold;
  font-size: 1.5rem;
}
.removeData {
  position: absolute;
  left: 22rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 1.5rem;
}
.recentSearch {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.recentSearchBox {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.searchTitle {
  display: flex;
  justify-content: center; /* 수평 정렬 */
  align-items: center; /* 수직 정렬 */
  margin: 1rem;
}
