.nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 1rem;
}

.navBar_logo {
  width: 4rem;
  height: 4rem;
}

.navBar_title {
  width: 12rem;
  height: 5rem;
  border: 2px solid #3d3775;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0.5rem 0.2rem 0.3rem 0.1rem #3d3775;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section2 {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}

.nav_section_profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_section_profileImage {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 1rem;
}
