.hashtag {
  margin-left: 22rem;
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.tabTitle {
  margin-left: 15rem;
}
.tab {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
